@charset "utf-8";


/* --- MEDIAQUERIE-HEADER-DESKTOP --- */

@media (min-width: 1201px){
  .header{
    font-size:x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

   .header-title{
    margin-left: 3%;
   }

  .header-list{
    display: flex;
    gap: 20px;
  }

} 

/* --- HEADER --- */

.header{
  background-color: #000000;
  color: #ffffff;
  padding: 15px;  
}
.header-title{
  display: flex;
  justify-content: center;
}

.header-nav{
  display: flex;
  justify-content: center;
}

.header-list{
  padding: 0;
  width: 100%;
}


.list-item{
  text-align: center;
  display: flex;

}

.navb {
  outline: none;
  text-decoration: none;
  width: 100%;
  text-align: center;
  line-height: 3;
  color: rgb(255, 255, 255);
}

.list-item.li:last-child a {
  margin-right: 0;
}

.navb:link, a:visited, a:focus {
  background: rgb(0, 0, 0);
}

.navb:hover {
  background: rgb(226, 201, 170);
  color: rgb(0, 0, 0);
}

.navb:active {
  background: rgb(226, 201, 170);
  color: rgb(0, 0, 0);
}


section {
  background-color: rgb(226, 201, 170);
}

.masthead {
  padding-top: calc(5rem + 30px);
  padding-bottom: 3rem;
}

.masthead .masthead-avatar {
  width: 7rem;
  display: block;
  margin: auto;
}

.masthead .masthead-heading {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  font-family: verdana;
}

#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#principal {
  width: 50%;
  background-color: rgb(42, 42, 42);
  text-align: center;
  color: #ffffff;
  font-family: Verdana;
}

#sidebar {
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.imagen {
  padding-bottom: 1rem;
  padding-top: calc(1rem + 20px);
  width: 12rem;
  display: block;
  margin: auto;
}

#contenedor2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid #000;
  border-top-width: 2px;
  border-left-width: 2px;
}

#bar1 {
  width: 25%;
  background-color: rgb(102, 102, 102);
  text-align: center;
  color: #000000;
  font-size: xx-small;
  font-family: Verdana;
}

#bar2 {
  width: 25%;
  background-color: rgb(214, 214, 214);
  text-align: center;
  color: #000000;
  font-size: xx-small;
  font-family: Verdana;
}

#bar3 {
  width: 25%;
  background-color: rgb(214, 214, 214);
  text-align: center;
  color: #000000;
  font-size: xx-small;
  font-family: Verdana;
}

#bar4 {
  width: 25%;
  background-color: rgb(214, 214, 214);
  text-align: center;
  color: #000000;
  font-size: xx-small;
  font-family: Verdana;
}

#contenedor3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#barpromo {
  width: 100%;
  padding-top: 1%;
  background-color: rgb(116, 84, 47);
}

.columna {
  float: left;
  width: 25%;
  padding-right: 0px;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

img {
  /* Para que sea responsiva */
  width: 100%;
}

footer {
  background-color: #fff;
  color: var(--second-c);
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

.wrap-footer {
  display: grid;
  grid-template-columns: 30% 15% 15% 20%;
  column-gap: 5%;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 1200px;
}

.logo-element_footer {
  display: flex;
  margin: 2rem 0;
}

.logo-element_footer img {
  max-height: 75px;
}

.element-footer h5 {
  margin: 1rem 0;
}

.text-element-footer li {
  line-height: 1;
}

.link-elements-footer li a {
  color: #000000;
}

.rrss-element-footer ul {
  display: flex;
  flex-flow: wrap;
}

.rrss-element-footer img {
  width: 35px;
}

.rrss-element-footer li {
  margin-right: 1rem;
}

.footer-creds {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: #576171;
  font-size: 0.9rem;
  max-width: 1200px;
  margin: 0 auto;
}

.legal-creds ul {
  display: flex;
  flex-flow: row;
}

.legal-creds ul li {
  padding-right: 1rem;
}

.legal-creds ul a {
  color: #576171;
  font-size: 0.9rem;
}

.direccion {
  color: #000;
  text-align: center;
  font-size: x-large;
}

.contenedor4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #dee5f1;
  width: 100%;
  height: 650px;
}

.quienesomos {
  font-size: 20px;
  width: 100%;
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 40 px;
}

#principal2 {
  width: 100%;
  background-color: rgb(195, 189, 189);
  text-align: center;
  color: #ffffff;
  font-family: Verdana;
  padding: 50px;
}

.formul {
  color: #000;
  text-align: center;
  font-size: x-large;
  font-family: Verdana;
}

.contact_form {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  background-color: #ffe5a8;
  padding-left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #fbfbfb;
  width: 400px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #615b58;
}

textarea {
  background-color: #fbfbfb;
  justify-content: center;
  width: 400px;
  height: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #615b58;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #615b58;
  border-color: #000000;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #000000;
}

.aviso {
  font-size: 18px;
  color: #000000;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

/*# sourceMappingURL=estilos.css.map */
