@charset "utf-8";

section {
  background-color: rgb(226, 201, 170);
}

.columna {
  display: flex;
  flex-direction: column; 
}


/* --- MEDIAQUERIE-HEADER-DESKTOP --- */

@media (min-width: 1201px){
  
  .columna {
    float: left;
    width: 25%;
    padding-right: 0px;
  }
  
} 