@charset "utf-8";

.masthead-contacto .masthead-heading {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    font-family: verdana;
  }
  
  .masthead-contacto {
    padding-top: calc(5rem + 30px);
    padding-bottom: 3rem;
  }

  .mapa{
    display: flex;
    justify-content: center;
  }

  #principal2 {
    width: 100%;
    background-color: rgb(195, 189, 189);
    text-align: center;
    color: #ffffff;
    font-family: Verdana;
    padding: 50px;
  }